<% include ../base_logged.ejs %>

<div id="content-wrapper">
    <div class="mui--appbar-height"></div>
    <div class="mui-container-fluid">
        <br>
        <% if(clients && clients.length > 0){ %>
        <div class="table">
            <div class="table-header">
                <div class="header__item"> Ação</div>
                <div class="header__item"> Ação</div>
                <div class="header__item"> Nome</div>
                <div class="header__item"> Sys Name</div>
                <div class="header__item"> Sys Port</div>

            </div>
            <div class="table-content">
                <% clients.forEach(function (client){ %>
                <div class="table-row">
                    <div class="table-data"><a href="/client/activate/<%- client.systemName %>">Ativar</a></div>
                    <div class="table-data"><a href="/client/deactivate/<%- client.systemName %>">Desativar</a></div>
                    <div class="table-data"><%- client.name %></div>
                    <div class="table-data"><%- client.systemName %></div>
                    <div class="table-data"><%- client.port %></div>
                </div>
                <% }); %>
            </div>

        </div>
        <% } %>
    </div>
</div>



</body>
</html>